<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <div ng-controller="appController as vm">


      <div layout="column">
          <!-- Container #1 (see wireframe) -->
          <md-toolbar layout="row" >
            <h1>Angular Material</h1>
          </md-toolbar>

            <!-- Container #2 -->
            <div class="container" layout="row" flex>
              <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
                <md-list>
                  <!-- List item #1 -->
                  <md-list-item >

                  </md-list-item>

                  <!-- List item #2 -->
                  <md-list-item >

                  </md-list-item>

                </md-list>
              </md-sidenav>

            <md-content flex id="content">

                <h1 style="text-align:center;">On the Clock: {{vm.teams[vm.index2].name}}</h1>
                Team creator:
                <input type="text" ng-model="vm.teamString" placeholder="Enter team name" />
                <button ng-click="vm.addTeam(vm.teamString)">add team</button>
                <!--{{teams}}-->
          <!-- loop through and print the names of the teams that are selected 2 for loops! -->

                <div style="display:flex;align-content:space-aroud;">
                      <div ng-repeat="item in vm.teams" style="border:1px solid;flex-grow:1;"
                      ng-click="vm.updateSelectedTeam(item);"
                      ng-class="item === vm.selectedTeam || index2 === vm.teams.length - 1? 'selected' : 'notselected'">

                          <h2>Name: {{item.name}}</h2>
                          <p ng-repeat="player in item.players track by $index">
                              {{player.rank}} | {{player.name}} | {{player.pos}} | {{player.team}} | {{player.bye}}
                               <button ng-click="vm.removePlayer(player, item, $index)">remove</button>
                          </p>
                          
                          <p>team number: <b style="font-size:36px">{{ $index + 1 }}</b></p>

                      </div>
                 </div>

                <hr />


                <input type="text" placeholder="Search players" ng-model="vm.searchTerm">

                <table class="playertable">
                  <thead>
                    <tr>
                      <th>
                        <a href="#" ng-click="sortType = 'rank*1'; sortReverse = !sortReverse">Rank</a>
                      </th>
                      <th>
                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">Name</a>
                      </th>
                      <th>
                        <a href="#" ng-click="sortType = 'pos'; sortReverse = !sortReverse">Position</a>
                      </th>
                      <th>
                        <a href="#" ng-click="sortType = 'team'; sortReverse = !sortReverse">Team</a>
                      </th>
                      <th>
                        <a href="#" ng-click="sortType = 'bye*1'; sortReverse = !sortReverse">Bye</a>
                      </th>
                      <th>
                        Add player
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="playerrow" ng-repeat="player in vm.players | orderBy:sortType:sortReverse | filter:vm.searchTerm track by $index">
                      <td>{{player.rank}}</td> <td>{{player.name}}</td> <td>{{player.pos}}</td> <td>{{player.team}}</td> <td>{{player.bye}}</td>
                      <td><button ng-click="vm.addPlayer($index, player)">Add Player</button></td>
                    </tr>
                  </tbody>
                </table>

                <input ng-model="vm.newItem"><button ng-click="vm.addItem(newItem)">Add</button>

                  <div ng-repeat="item in vm.trash">
                    {{item.name}} | {{item.pos}} | {{item.rank}} | {{item.active}}
                  </div>



              </md-content>
            </div>

        </div>


    </div>

     <!-- Angular Material requires Angular.js Libraries -->
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.js"></script>

     <!-- Angular Material Library -->
     <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>


    <script src="scripts.js"></script>

  </body>
</html>
