<!DOCTYPE html>
<html ng-app="app">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-aria.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.js"></script>

    <script src="scripts.js"></script>
  </head>
  <body>
    <div ng-controller="appController as vm">
      <h1 style="text-align:center;">On the Clock: {{vm.index2}} {{vm.selectedTeam.name}}</h1>

      Team creator:
      <input type="text" ng-model="vm.teamString" placeholder="Enter team name" />
      <button ng-click="vm.addTeam(vm.teamString)">add team</button>
      <!--{{teams}}-->
<!-- loop through and print the names of the teams that are selected 2 for loops! -->

      <style>.selected{border: 5px solid red !important;}
      .notselected {border-color:black !important;}</style>

      <div style="display:flex;align-content:space-aroud;">
            <div ng-repeat="item in vm.teams" style="border:1px solid;flex-grow:1;"
            ng-click="vm.updateSelectedTeam(item);"
            ng-class="item === vm.selectedTeam || index2 === vm.teams.length - 1? 'selected' : 'notselected'">

                <h2>Name: {{item.name}}</h2>
                <p ng-repeat="player in item.players track by $index">
                    {{player.rank}} | {{player.name}} | {{player.pos}} | {{player.team}} | {{player.bye}}
                     <button ng-click="vm.removePlayer(player, item, index)">remove</button>
                </p>
                <p>selected: {{item.selected}}</p>
                <p>team number: <b style="font-size:36px">{{ $index + 1 }}</b></p>

            </div>
       </div>

      <hr />



      <style>/*.playerrow {display:flex;justify-content: space-around;}.playerrow > * {}*/
        .playertable {width: 35%;}.playertable td, .playertable th {width: 16.6666667%}
        </style>
      <input type="text" ng-model="searchString" placeholder="Search Name..." />

      <table class="playertable">
        <thead>
          <tr>
            <th>Rank</th><th>Name</th><th>Position</th><th>Team</th><th>Bye</th><th>Add player</th>
          </tr>
        </thead>
        <tbody>
          <tr class="playerrow" ng-repeat="player in vm.players | searchFor:searchString">
            <td>{{player.rank}}</td> <td>{{player.name}}</td> <td>{{player.pos}}</td> <td>{{player.team}}</td> <td>{{player.bye}}</td>
            <td><button ng-click="vm.addPlayer($index, player)">Add Player</button></td>
          </tr>
        </tbody>
      </table>

      <input ng-model="vm.newItem"><button ng-click="vm.addItem(newItem)">Add</button>

        <div ng-repeat="item in vm.trash">
          {{item.name}} | {{item.pos}} | {{item.rank}} | {{item.active}}
        </div>


    </div>

  </body>
</html>
