<style></style>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.5/angular.min.js"></script>
<script>
	var app = angular.module("searchPlayers", []);

	app.filter('searchFor', function () {
		return function (arr, searchString) {
			if(!searchString) {
				return arr;
			}
			var result = [];
			searchString = searchString.toLowerCase();
			angular.forEach(arr, function (player) {
				if (player.name.toLowerCase().indexOf(searchString) !== -1){
					result.push(player);
				}
			});
			return result
		};
	});

	app.filter('searchForPosition', function () {
		return function (arr, searchStringPosition) {
			if(!searchStringPosition) {
				return arr;
			}
			var result = [];
			searchStringPosition = searchStringPosition.toLowerCase();
			angular.forEach(arr, function (player) {
				if (player.position.toLowerCase().indexOf(searchStringPosition) !== -1){
					result.push(player);
				}
			});
			return result
		};
	});

	app.filter('searchForActive', function () {
		return function (arr, searchStringActive) {
			if(!searchStringActive) {
				return arr;
			}
			var result = [];
			searchStringActive = searchStringActive.toLowerCase();
			angular.forEach(arr, function (player) {
				if (player.active.toLowerCase().indexOf(searchStringActive) !== -1){
					result.push(player);
				}
			});
			return result
		};
	});

	function playersController ($scope) {
		$scope.players = [
			{
				name : 'Peyton Manning',
				position: 'Quarterback',
				value: 1,
				active:true
			},{
				name : 'Tom Brady',
				position: 'Quarterback',
				value: 2,
				active:true
			},{
				name : 'Drew Brees',
				position: 'Quarterback',
				value: 3,
				active:true
			},{
				name : 'Aaron Rogers',
				position: 'Quarterback',
				value: 4,
				active:true
			},{
				name : 'Cam Newton',
				position: 'Quarterback',
				value: 5,
				active:true
			},{
				name : 'Robert Griffin III',
				position: 'Quarterback',
				value: 6,
				active:true
			},{
				name : 'Adrian Peterson',
				position: 'Runningback',
				value: 1,
				active:true
			},{
				name : 'Arian Foster',
				position: 'Runningback',
				value: 2,
				active:true
			},{
				name : 'Jammal Charles',
				position: 'Runningback',
				value: 3,
				active:true
			},{
				name : 'Fred Jackson',
				position: 'Runningback',
				value: 4,
				active:true
			},{
				name : 'Alfred Morris',
				position: 'Runningback',
				value: 5,
				active:true
			},{
				name : 'Ray Rice',
				position: 'Runningback',
				value: 6,
				active:true
			},{
				name : 'Calvin Johnson',
				position: 'Wide Receiver',
				value: 1,
				active:true
			},{
				name : 'Percy Harvin',
				position: 'Wide Receiver',
				value: 2,
				active:true
			},{
				name : 'DeSean Jackson',
				position: 'Wide Receiver',
				value: 3,
				active:true
			},{
				name : 'Pierre Garson',
				position: 'Wide Receiver',
				value: 4,
				active:true
			},{
				name : 'Michael Crabtree',
				position: 'Wide Receiver',
				value: 5,
				active:true
			},{
				name : 'Victor Cruz',
				position: 'Wide Receiver',
				value: 6,
				active:true
			}
		]
	$scope.predicate = '-position';


		$scope.toggleActive = function (s) {
			s.active = !s.active;
		}

		$scope.total = function () {
			var total = 0;

			angular.forEach($scope.players, function (s) {
				if (s.active) {
					total+= s.value;
				}
			});
			return total;
		};

		$scope.teams = [];
		$scope.addTeam = function() {
		    $scope.teams.push({text:$scope.teamText});
		    $scope.teamText = '';
		  };

		 $scope.archive = function() {

		    $scope.teams = [];
	      $scope.teams.push(team);

		  };

		 

	}
</script>

<div ng-app="searchPlayers" ng-controller="playersController">

	<h2>Players</h2>

	search:
	<input type="text" ng-model="searchString" placeholder="Search Player Name" />
	<input type="text" ng-model="searchStringPosition" placeholder="Search Player Position" />
	<input type="checkbox" ng-model="searchStringActive" />

	<br />
	
	sort:
	<a href="#0" ng-click="predicate = 'position'; reverse=!reverse">Position</a>
	<a href="#0" ng-click="predicate = 'name'; reverse=!reverse">Name</a>
	<a href="#0" ng-click="predicate = 'value'; reverse=!reverse">Value</a>

	<ul>
		<li ng-repeat="player in players | searchFor:searchString | searchForPosition:searchStringPosition | searchForActive:searchStringActive | orderBy:predicate:reverse" ng-class="{active:player.active}">
		<input type="checkbox" checked ng-click="toggleActive(player)" />
			{{player.position}}: {{player.name}} <span>{{player.value}}</span>
		</li>
	</ul>

	<div class="total">Total Value: {{total()}}</div>


	<form ng-submit="addTeam()">
        <input type="text" ng-model="teamText" size="30"
               placeholder="add team here">
        <input type="submit" value="add">
      </form>

      <ul>
        <li ng-repeat="team in teams">

          <span class="">{{team.text}}</span>
          <span ng-click="archive()">delete?</span>
        </li>
      </ul>

</div>


