<style>

</style>
<script src="angular.min.js"></script>
<script>
	var app = angular.module("searchPlayers", []);

	app.filter('searchFor', function () {
		return function (arr, searchString) {
			if(!searchString) {
				return arr;
			}
			var result = [];
			searchString = searchString.toLowerCase();
			angular.forEach(arr, function (player) {
				if (player.name.toLowerCase().indexOf(searchString) !== -1){
					result.push(player);
				}
			});
			return result
		};
	});

	app.filter('searchForPosition', function () {
		return function (arr, searchStringPosition) {
			if(!searchStringPosition) {
				return arr;
			}
			var result = [];
			searchStringPosition = searchStringPosition.toLowerCase();
			angular.forEach(arr, function (player) {
				if (player.position.toLowerCase().indexOf(searchStringPosition) !== -1){
					result.push(player);
				}
			});
			return result
		};
	});

	app.filter('searchForActive', function () {
		return function (arr, searchStringActive) {
			if(!searchStringActive) {
				return arr;
			}
			var result = [];
			searchStringActive = searchStringActive.toLowerCase();
			angular.forEach(arr, function (player) {
				if (player.active.toLowerCase().indexOf(searchStringActive) !== -1){
					result.push(player);
				}
			});
			return result
		};
	});

/*
	  var json = $http.get('aircraft.json').then(function(response) {
        $scope.avaliableAircraft = response.data;
        return response.data;
      });*/
	
	app.controller ('playersController',['$scope','$http', function ($scope,$http) {


		$scope.players = [];
		var json = $http.get('short-list.json').then(function (response) {
			//document.player = response.data;
			$scope.players = response.data;
		});
		$scope.predicate = '-position';


		$scope.toggleActive = function (s) {
			s.active = !s.active;
		}
 
		$scope.total = function () {
			var total = 0;

			angular.forEach($scope.players, function (s) {
				if (s.active) {
					total+= s.value;
				}
			});
			return total;
		};




    // Team List Arrays
    $scope.teams = [];
    $scope.checked = [];

    // Add a Team to the list
    $scope.addTeam = function () {
        $scope.teams.push({
            name: $scope.teamName
        });
        // Clear input fields after push
        $scope.teamName = "";
    };
    // Add Team to Checked List and delete from Unchecked List
    $scope.toggleChecked = function (index) {
        $scope.checked.push($scope.teams[index]);
        $scope.teams.splice(index, 1);
    };
    // Add Team to unChecked List and delete from checked List
    $scope.unCheck = function (index) {
        $scope.teams.push($scope.checked[index]);
        $scope.checked.splice(index, 1);
    };
    // Get Total Teams
    $scope.getTotalTeams = function () {
        return $scope.teams.length;
    };
    // Get Total Checked Teams
    $scope.getTotalCheckedTeams = function () {
        return $scope.checked.length;
    };




    $scope.teams = [1,2,3,4,5];
    $scope.checked = [];


    $scope.toggleDrafted = function (index) {
        $scope.checked.push($scope.players[index]);
        $scope.players.splice(index, 1);
    };
    

    // Add Team to unChecked List and delete from checked List
    $scope.unCheck = function (index) {
        $scope.teams.push($scope.checked[index]);
        $scope.checked.splice(index, 1);
    };



		}
	])

	
</script>

<div ng-app="searchPlayers" ng-controller="playersController">

	<h2>Players</h2>

	search:
	<input type="text" ng-model="searchString" placeholder="Search Player Name" />
	<input type="text" ng-model="searchStringPosition" placeholder="Search Player Position" />
	<input type="text" ng-model="searchStringActive" placeholder="type active" />

	<br />
	
	sort:
	<a href="#0" ng-click="predicate = 'position'; reverse=!reverse">Position</a>
	<a href="#0" ng-click="predicate = 'name'; reverse=!reverse">Name</a>
	<a href="#0" ng-click="predicate = 'value'; reverse=!reverse">Value</a>

	<ul>
		<li ng-repeat="player in players | searchFor:searchString | searchForPosition:searchStringPosition | searchForActive:searchStringActive | orderBy:predicate:reverse" ng-class="{active:player.active}">
		<input type="checkbox" checked ng-click="toggleActive(player)" />
			{{player.position}}: {{player.name}} <span>{{player.value}}</span> <button ng-click="toggleDrafted($index)">Draft</button>
		</li>
	</ul>

	<div class="total">Total Value: {{total()}}</div>


<h3>drafed:</h3>
<ul>
	<li ng-repeat"player in drafed">{{player.name}}</li>
</ul>
	      
        <div id="AddTeam">
             <h3>Add Team</h3>


            <input value="" type="text" placeholder="Name of Team" ng-model="teamName" value="team">
            <br/>
            <button ng-click="addTeam()">Add to list</button>
        </div>
        <!-- begin: LIST OF CHECKED TEAMS -->
        <div id="CheckedList">
             <h3>Checked Teams: {{getTotalCheckedTeams()}}</h3>

             <h4>Checked:</h4>

            <table>
                <tr ng-repeat="team in checked" class="team-checked">

                    <td><b>name:</b> {{team.name}} -</td>
                    <td> <i>this team is checked!</i>

                    </td>
                    <td><button ng-click="unCheck($index)">uncheck team</button></td>
                </tr>
            </table>
        </div>
        <!-- end: LIST OF CHECKED TEAMS -->
        <!-- begin: LIST OF UNCHECKED TEAMS -->
        <div id="UncheckedList">
             <h3>Unchecked Teams: {{getTotalTeams()}}</h3>

             <h4>Unchecked:</h4>

            <table>
                <tr ng-repeat="team in teams" class="team-unchecked">

                    <td><b>name:</b> {{team.name}} -</td>
                    <td>
                        <button ng-click="toggleChecked($index)">check team</button>
                    </td>
                </tr>
            </table>
        </div>

</div>


