
  html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0px;
    padding: 0px;
  }

  /** Enabled Step 3... */

  md-toolbar h3 {
    text-align: left;;
    font-weight: 500;
    text-indent: 10px;
  }

  md-list-item > button {
    width:100%;
    text-align:left !important;
  }

  #content  {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
  }

  .avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom:0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform:scale(0.70);
  }

  .selected{
    -webkit-box-shadow: 0 4px 12px 0 rgba(0,82,135,.2),0 4px 4px 0 rgba(0,82,135,.14),0 8px 4px -4px rgba(0,82,135,.12);
    box-shadow: 0 4px 12px 0 rgba(0,82,135,.2),0 4px 4px 0 rgba(0,82,135,.14),0 8px 4px -4px rgba(0,82,135,.12);
  }


  .playertable {width: 35%;}
  .playertable td, .playertable th {width: 16.6666667%;text-align: center;}
