
  html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0px;
    padding: 0px;
  }

  /** Enabled Step 3... */

  md-toolbar h3 {
    text-align: left;;
    font-weight: 500;
    text-indent: 10px;
  }

  md-list-item > button {
    width:100%;
    text-align:left !important;
  }

  #content  {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
  }

  .avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom:0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform:scale(0.70);
  }

  .selected{
    -webkit-box-shadow: 0 4px 12px 0 rgba(0,82,135,.5),0 4px 4px 0 rgba(0,82,135,.5),0 8px 4px -4px rgba(0,82,135,.5);
    box-shadow: 0 4px 12px 0 rgba(0,82,135,.5),0 4px 4px 0 rgba(0,82,135,.5),0 8px 4px -4px rgba(0,82,135,.5);
  }


  .playertable {width: 35%;}
  .playertable td, .playertable th {width: 16.6666667%;text-align: center;}
  .fa-caret-down, .fa-caret-up {font-size: 11px;}
  .key span {padding: 5px;}
  [ng-class*=WR] {background-color: #69A957;color:white !important;text-decoration: none;padding: 7px;}
  [ng-class*=RB] {background-color: #041563;color:white !important;text-decoration: none;padding: 7px;}
  [ng-class*=QB] {background-color: #FCBF05;color:white !important;text-decoration: none;padding: 7px;}
  [ng-class*=TE] {background-color: #DB3E74;color:white !important;text-decoration: none;padding: 7px;}
  [ng-class*=DST] {background-color: #A71020;color:white !important;text-decoration: none;padding: 7px;}
  [ng-class*=K] {background-color: white;color:rgba(0,0,0,0.87) !important;text-decoration: none;padding: 7px;}

  .md-subheader ._md-subheader-inner {padding: 3px 15px;}
.team-card label {font-size:50%;}
.sourceSelected {border-bottom:5px solid red;color: white !important;}